%tr
  %td
    = link_to educator.registration, admin_educator_path(educator)

  %td
    = link_to educator.name, admin_educator_path(educator)

  %td
    = link_to_remove admin_educator_path(educator)
    = link_to_edit edit_admin_educator_path(educator)
