.col-xs-12
  #header
    .row
      .col-xs-6
        = render 'admin/shared/search', path: admin_students_path

      .col-xs-3
        = render 'filter'

      .col-xs-3
        = new_resource_button(new_admin_student_path, t('.new'))
