= simple_form_for :search, url: admin_students_path, method: :get, role: :search do |f|
  - filter_params = params.fetch(:filter, {}) || []

  = text_field_tag :search, params[:search], placeholder: t('search')
  = fields_for :filter do |ff|
    = ff.hidden_field :school_class, value: filter_params.fetch(:school_class, '')
