@import "bootstrap-sprockets";
@import "bootstrap";
@import "color_variables";

a {
  color: $grey-dark;

  &:hover {
    color: $grey-dark;
  }

  .red {
    &:hover {
      color: $red;
    }
  }
}



body {
  font-family: Arial, Helvetica, sans-serif;

  max-width: 1200px;

  background-color: rgba(204, 204, 204, 0.08);

}
