@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "color_variables";
@import "admin/form";


a {
  color: $grey-dark;

  &:hover {
    color: $grey-dark;
  }

  .red {
    &:hover {
      color: $red;
    }
  }
}



body {
  max-width: 1200px;

  font-family: Arial, Helvetica, sans-serif;

  background-color: $black;
  background: asset-url('black.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
