$black:             #000000;
$blue:              #337ab7;
$grey:              #f6f6f5;
$grey-transparent:  rgba(255,255,255,0.2);
$grey-light:        #cccccc;
$grey-dark:         #525252;
$red:               #d41b1b;
$white:             #FFFFFF;
$white-transparent: rgba(255, 255, 255, 0.84)
