.col-xs-12
  #header
    .row
      .col-xs-6
        = render 'admin/shared/search', path: admin_courses_path

      .col-xs-3.col-xs-offset-3
        = new_resource_button(new_admin_course_path, t('.new'))
